@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.home {
  background: url("../images/mobile_intro_bg.png") center top no-repeat;
  height: auto;
}

.aux-title {
  font-size: 1.5rem;
  color: orange;
}

.title {
  font-size: 3rem;
  color: red;
}

#home-description {
  background-color: rgb(247, 247, 248);
}
.description {
  font-size: 0.75rem;
}  

.date-info {
  font-weight: 700;
  font-size: 1.5rem;
}

.about {
  background: url("../images/mobile_intro_bg.png") center top no-repeat;
  height: auto;
}
