@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

body {
  font-family: 'Lato', sans-serif;
  color: #272a31;
}

header {
  position: absolute;
  left: 0;
  top: 0;
}

#menu-btn > div {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 50vw;
  background-color: rgba(39, 42, 50, 0.8);
  color: #fff;
}

#close-btn {
  width: fit-content;
  align-self: flex-end;
  color: #fff;
  background-color: rgba(39, 42, 50, 0);
  border: none;
}

.menu-link {
  background-color: rgba(39, 42, 50, 0.4);
  border: 1px solid rgb(247, 247, 248);
}

.bg-light-wrap {
  background: url("../assets/images/mobile_intro_bg.png") center top no-repeat;
  background-repeat: repeat-x;
  background-position: center center;
}

.home > h1 {
  margin-top: 6rem;
}

.about > h1 {
  margin-top: 6rem;
}

.title {
  color: #ec5242;
}

#home-description {
  background-color: rgb(247, 247, 248);
}

.description {
  font-size: 0.75rem;
}  

.date-info {
  font-weight: 700;
  font-size: 1.5rem;
}

.main-program {
  background-image: url("../assets/icons/pattern_bg.png");
  background-repeat: repeat;
  background-color: #272a32;
  height: auto;
  display: flex;
  flex-direction: column;
}

.program-list {
  background-color: rgba(255,255,255,.1);
  color: #fff;
}

.program-icon {
  width: auto;
  height: 60px;
}

.program-btn {
  background-color: #ec5242;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

.about {
  background: url("../assets/images/mobile_intro_bg.png") center top no-repeat;
}

.border-solid {
  border: 1px solid #dfdfdf;}

#logo-ack > h2 {
  padding: 0 5rem; 
}

#logo-ack > img {
  width: 100%;
  padding: 1rem 5rem;
}

.past-events {
  border-top: 1px solid #dfdfdf;
}

#past-events-container > a > img {
  width: 100%;
  height: auto;
}

.bg-dark-wrap {
  background-color: #272a32;
}

.div-bar {
  width: 53px;
  border-bottom: 1px solid #ef513c;
  margin: 0 auto 0;
}


@media screen and (min-width: 768px) {
  .description {
    font-size: 1.1rem;
  }

  .program-list {
    width: 10rem;
  }

  .program-list>div>p {
    font-size: 0.88rem;
  }

  #footer {
    background-color: #272a31;
    color: #fff;
  }
}